.cc-area {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 10px;
}

.cc-text {
  border-radius: 10px;
  padding: 4px 8px;
  background-color: #555; /* IE<9 */
  background-color: rgba(0,0,0, .5);
  color: #fff;
  visibility: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}